.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 700px;
    height: 400px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px grey;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.divide {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.title {
    text-decoration: none;
}

.ul {
    padding-left: 0;
}

.li {
    list-style: none;
}


@media screen and (min-width:1080px) {
    .box {
            width: 1000px;
            height: 700px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 3px grey;
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .img {
            width: 400px;
            height: 600px;
            border-radius: 20px;
        }
    
        .divide {
            width: 500px;
            height: 600px;
            display: flex;
            flex-direction: column;
            padding-left: 40px;
        }
}
